{% extends 'base.html' %}
{% load static %}
{% block content %}
<main style="background-image: url('{% static "images/Service.jpg" %}');">
    <div class="text-center">
        <h1 class="p-5">About Team N</h1>

    </div>
    <div class="col">

		<div class="col d-flex flex-sm-column flex-md-column flex-lg-row align-items-center justify-content-center">

			<img src="{% static 'images/teamimg.jpg' %}" alt="team picture" class="first_image col-lg-5 col-sm-10 col-md-8">
			<div class="d-flex flex-column align-items-center justify-content-center col-lg-6 col-sm-10" >
			    <div class="our_vision_title">
					<h2>Our vision</h2>
					<p>We aim to create networking solutions remotely by combining web development, database usage and IoT knowlege.</p>
				</div>
				<div class=>
                    <h2>Our Origin</h2>
					<p>Our group was formed on February 2023 for the subject TNE10006: Network and Switching.</p>
					<p>We pride ourselves on our background knowlege, diverse areas of expertise for each member and the ability to improvise on any situation. That is why we enter this competetiion, hoping to make changes and success.</p>
					<p>On 5th Match 2023 Dr. Pham Van Dai take us under is direct tutorlege so that we could learn and master our networking skills as well as professional work ethic and behaviours.</p>						</div>
				</div>
		</div>
    </div>

    
    
</main>


{% endblock %}