{% extends 'base.html' %}
{% load static %}
{% block content %}
<Section>
    <h1 class="text-center p-5">Documentation</h1>
    <Div>
        <h3 class="pl-5 ">Networking Fundamentals</h3>
        <a class="pl-5 d-block" href="https://www.cisco.com/c/dam/global/fi_fi/assets/docs/SMB_University_120307_Networking_Fundamentals.pdf">- Network Fundamental by Cisco</a>
        <a class="pl-5 d-block" href="https://www.cisco.com/c/en/us/td/docs/routers/connectedgrid/modules/switch/gsg/cgr-esm-getting_started.pdf">- Switch Configuration by Cisco</a>
        <a class="pl-5 d-block" href="https://www.cisco.com/en/US/docs/routers/access/800/850/software/configuration/guide/routconf.pdf">- Router Configuration by Cisco</a>    
        <a class="pl-5 d-block" href="https://ptgmedia.pearsoncmg.com/images/9781587204005/samplepages/1587204002.pdf">- Routing and Switching by Cisco</a>  
        <h3 class="pl-5 pt-5">Networking Intermediate</h3>
        <a class="pl-5 d-block" href="https://www.cisco.com/c/dam/global/fi_fi/assets/docs/SMB_University_120307_Networking_Fundamentals.pdf">- Network Intermediate by Cisco</a>
        <a class="pl-5 d-block" href="https://www.cisco.com/c/en/us/td/docs/routers/connectedgrid/modules/switch/gsg/cgr-esm-getting_started.pdf">- Switch Intermediate Configuration by Cisco</a>
        <a class="pl-5 d-block" href="https://www.cisco.com/en/US/docs/routers/access/800/850/software/configuration/guide/routconf.pdf">- Router Intermediate Configuration by Cisco</a>    
        <a class="pl-5 d-block" href="https://ptgmedia.pearsoncmg.com/images/9781587204005/samplepages/1587204002.pdf">- Routing and Switching by Cisco</a>        
        <a class="pl-5 d-block" href="https://www.cisco.com/c/dam/global/fi_fi/assets/docs/SMB_University_120307_Networking_Fundamentals.pdf">- Network Differences by Cisco</a>
        <a class="pl-5 d-block" href="https://www.cisco.com/c/en/us/td/docs/routers/connectedgrid/modules/switch/gsg/cgr-esm-getting_started.pdf">- Cisco Certified Network Associate (CCNA) by Cisco</a>
        <a class="pl-5 d-block" href="https://www.cisco.com/en/US/docs/routers/access/800/850/software/configuration/guide/routconf.pdf">- Cisco Certified Network Professional (CCNP) by Cisco</a>   
        <h3 class="pl-5 pt-5">Networking Advanced</h3>
        <a class="pl-5 d-block" href="https://www.cisco.com/c/dam/global/fi_fi/assets/docs/SMB_University_120307_Networking_Fundamentals.pdf">- Cisco Certified Internetwork Expert (CCIE) by CCNA</a>

    </Div>
</Section>
{% endblock %}
