{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <script src="https://unpkg.com/cytoscape@3.24.0/dist/cytoscape.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dagre/0.8.5/dagre.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/cytoscape-dagre@2.5.0/cytoscape-dagre.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/cy.css' %}" />
  </head>
  <body>
    <h1>Hello World!</h1>
    <p>Welcome to my first Django project!</p>
    <div id="cy"></div>
    <script type="module" src="{% static 'js/final.js' %}"></script>
  </body>
</html>
